
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.header{
    height:5%;
    background-color:#C0C0C0;

    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    padding:0 20rem;
}

.headerItemRight{
    text-align: right;
    padding-right:250px;
    padding-top:5px;
}

a{
    text-decoration: none;
    color:#000;
    font-size:25px;  
}

.h2{
    padding:0; margin:5px 0px;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height:95%;
    padding:5rem;
}

h3{padding:0; margin:0;}

.leftGrid { 
    background-color: #0a0a0a; 
    color:#fff;
    padding:5rem;
    opacity: 0.8;

  }

  p{
      line-height: 30px;
  }
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  
  /*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  now override the 3.3 new styles for modern browsers & apply opacity
  */
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
  }
  
#item1,
#item2,
#item3{
    height:95%;
    background-size:cover;
}

#item1{
    background-image: url('img/rengar.jpg');
}
#item2{
    background-image: url('img/khazix.jpg');
}
#item3{
    background-image: url('img/elise.jpg');
}
